:root {
    --primary: #fff;
  }
  
  .btnyt {
    border: 1px solid white;
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .btnspt{
    background-color: #fff;
    color: #fffefe;
    padding: 12px 26px;
    font-size: 20px;
    border: 1px solid white;
    transition: all 0.3s ease-out;
    padding: 8px 20px;
    font-size: 18px;
  }

  .btnspt:hover {
    transform: scale3d(1.1);
    background: #fff;
    color: #242424;
    transition: 250ms;
  }

  
  .btn--medium {
    border: 1px solid white;
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transform: scale3d(1.1);
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
.btn--large{
    padding: 12px 26px;
    font: 20px;

}



.btn--large:hover,
.btn--medium:hover{
  transform: scale3d(1.1);
    background: white;
    color: black;
    transition: all 0.3s ease-out;
} 